<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
{% if post.head_image %}
<img src="{{ post.head_image.url }}" alt="">
{% endif %}

{% if post.file_upload %}
<video src="{{ post.file_upload.url }}" controls></video>
{% endif %}


<p>{{ post.author }}</p>

{% for comment in post.comments.all %}
    <p>{{ comment.message }}</p>
{% endfor %}

{% for tag in post.tags.all %}
    <a href="/tube/tag/{{ tag.name }}">#{{ tag.name }}</a>
{% endfor %}

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>

<a href="{% url 'postlist' %}">뒤로가기</a>
{% comment %} <a href="{% url 'delete' %}">삭제</a> {% endcomment %}