{% if user.is_authenticated %}
<h1>비밀게시판</h1>
<form action="" method="get">
    <input name="n" type="search">
    <button type="submit">검색</button>
</form>
<ul>
    {% for post_detail in db %}
    <li>
        <a href="{% url 'post' post_detail.id %}">{{ post_detail.title }}</a>
        <p>{{post_detail.contents}}</p>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'create' %}">글작성</a>
<a href="http://127.0.0.1:8000/accounts/logout">로그아웃</a>
{% endif %}
<p>로그인 사용자 아님!</p>
<a href="{% url 'blog' %}">뒤로가기</a>