.chat{
    width: 1000px;
    margin: auto;
}
.chat-container{
    background-color: #eee;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.chat-container h3{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.chat-content{
    display: flex;
    border: 2px solid black;
    border-radius: 0 15px 15px 15px;
    background-color: white;
    width: fit-content;
    padding: 12px 20px;
}

.user-chat .chat-content{
    border: 2px solid black;
    border-radius: 15px 15px 0 15px;
    background-color: skyblue;
    /* margin: 0 0 0 auto; */
}

.ai-chat{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.ai-chat .chat-wrap,
.user-chat{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.ai-chat img{
    width: 60px;
}
.ai-chat .chat-content:first-child{
    margin-top: 30px;
}
.chat-form{
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 16px;
    align-items: center;
    margin-top: 20px;
}
.chat-form textarea{
    border: 0;
    resize: none;
    flex-grow: 1;
    height: 80px;
    
}
.chat-form button{
    background-color: rosybrown;
    border: 0;
    color: white;
    width: 80px;
    height: 32px;
    border-radius: 10px;
}
.chat-screen{
    height: 600px;
    overflow-y: auto;
}